<div class="photo-info_wrapper page-width">
    <div class="photo-infos">
        <div class="photo-info">
            <div class="photo-info_main_content">
                <div class="photo_img_wrapper">
                    <img data-src="{{ 'photo_img_1.png' | asset_url }}" class="lazyload">
                </div>
                <h2>Photo<br>Quality<br>Review</h2>
            </div>
            <div class="photo-info_button">
                <h2>Included!</h2>
            </div>
        </div>
        <div class="photo-info">
            <div class="photo-info_main_content">
                <div class="photo_img_wrapper">
                    <img data-src="{{ 'photo_img_2.png' | asset_url }}" class="lazyload">
                </div>
                <h2>Approve<br>Your Art<br>Before<br>We Print</h2>
            </div>
            <div class="photo-info_button">
                <h2>Free Versions</h2>
            </div>
        </div>
        <div class="photo-info">
            <div class="photo-info_main_content">
                <div class="photo_img_wrapper">
                    <img data-src="{{ 'photo_img_3.png' | asset_url }}" class="lazyload">
                </div>
                <h2>High<br>Quality<br>Print</h2>
            </div>
            <div class="photo-info_button">
                <h2>In Stock</h2>
            </div>
        </div>
    </div>
</div>