<div id="th_shop_default_currency" data-val="{{ shop.currency }}" style="display:none !important"></div>
<meta id="th_shop_money" content="{{ shop.money_format | strip_html }}">
<link href="https://bundle.thimatic-apps.com/theme_files/th-pb-style.css?v=282" rel="stylesheet" type="text/css" media="all"/>
<script src="https://bundle.thimatic-apps.com/theme_files/th-pb-script.js?v=282" defer></script>