<div class="shop_icons_section page-width">
  <div class="shop_icons_wrapper">
    {% for block in section.blocks %}
      <div class="shop_icon">
        <img data-src="{{ block.settings.icon_img | img_url: '200x200'}}" class="lazyload">
        <p>{{ block.settings.icon_text }}</p>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "Shop Icons",
    "settings": [],
    "blocks": [
      {
        "type": "text",
        "name": "Icons",
        "settings": [
          {
            "type": "image_picker",
            "id": "icon_img",
            "label": "Icon Image"
          }, {
            "type": "text",
            "id": "icon_text",
            "label": "Icon Text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Shop Icons"
      }
    ]
  }
{% endschema %}