.feature-row.aos-init.aos-animate {
  margin-top: 50px;
  margin-bottom: 50px;
}
#shopify-section-collection-header {
  display: none;
}
#shopify-section-collection-header header {
  margin: 57px 0;
}
.announcement-text {
  font-size: 13px;
  letter-spacing: 3px;
}
#shopify-section-collection-header
  .page-width.page-content.page-content--top
  h1.section-header__title {
  font-weight: 600;
  font-size: 35px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #0e0e0e;
}
.boost-pfs-filter-tree-v .boost-pfs-filter-option-title-heading span {
  font-weight: 600;
  font-size: 16px;
  line-height: 33px;
  letter-spacing: 0.01em;
  text-transform: capitalize !important;
}
#CollectionAjaxResult #CollectionAjaxContent .page-width {
  max-width: unset;
}
#CollectionAjaxResult #CollectionAjaxContent .grid__item--sidebar {
  position: unset;
  max-height: unset;
}
#CollectionAjaxResult #CollectionAjaxContent .medium-up--one-fifth {
  width: 316px;
  max-width: 316px;
}
#CollectionAjaxResult #CollectionAjaxContent .medium-up--four-fifths {
  width: calc(100% - 316px);
}
.boost-pfs-filter-option.boost-pfs-filter-has-scrollbar
  .boost-pfs-filter-option-content
  .boost-pfs-filter-option-content-inner {
  max-height: unset;
}
.boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-multiple-list
  li
  .boost-pfs-check-box {
  left: unset !important;
  right: 9px;
  border: 1px solid #000000 !important;
}
.boost-pfs-filter-option
  .boost-pfs-filter-option-content
  .boost-pfs-filter-option-amount {
  float: unset !important;
}
.boost-pfs-filter-option.boost-pfs-filter-has-scrollbar
  .boost-pfs-filter-option-content
  .boost-pfs-filter-option-content-inner {
  max-height: unset !important;
}

.bc_am {
  background-image: url(https://ucarecdn.com/9da935e7-042d-4f3a-b1df-d189185a7988/-/format/auto/-/preview/3000x3000/-/quality/lighter/);
  background-size: contain;
  background-attachment: fixed;
  background-position: center center;
  display: flex;
}
.bc_am_content {
  margin: 0 auto;
  padding: 50px 20px;
  text-align: center;
}
.bc_am_content h2 {
  font-size: 50px;
  line-height: 1.2em;
  letter-spacing: 0px;
  color: #241940;
  text-transform: uppercase;
}
.bc_am_content h6 {
  font-size: 18px;
  line-height: 1.5em;
  letter-spacing: 0px;
  color: #272727;
  text-transform: uppercase;
}
.link_wrapper_1 {
  width: 100%;
  font-size: 28px;
  background-color: #ffa88a;
  padding-top: 20px;
  padding-bottom: 20px;
  text-transform: none;
  text-align: center;
  margin-top: 30px;
  font-weight: 700;
}
.link_wrapper_1 a {
  color: #fff;
}
.link_wrapper_2 a {
  color: #000;
}
.link_wrapper_2 {
  width: 100%;
  font-size: 22px;
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  text-transform: none;
  text-align: center;
  margin-top: 30px;
  border: 6px solid #ffa88a;
  font-weight: 700;
  margin-bottom: 30px;
}

.product_price_wrapper {
  display: flex;
}

.jdgm-preview-badge[data-template="product"] {
  display: block !important;
}

.jm_review_preview_wrapper {
  display: flex;
  align-items: center;
}

.collapsible-content__inner.rte a {
  text-decoration: underline;
  color: #ffa88a;
}

.photo-info_wrapper {
  margin: 100px auto;
}

.photo-info_wrapper h2 {
  text-transform: uppercase;
  margin-bottom: 0;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 44px;
}

.photo-info_main_content h2 {
  color: #000;
}

.photo-info_button h2 {
  color: #fff;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
}

.photo-infos {
  display: flex;
}
.photo-info {
  width: 33.3%;
  padding: 0 10px;
}
.photo-info_main_content {
  display: flex;
  align-items: center;
  margin-left: -30px;
}
.photo-info_button {
  text-align: center;
  background: #ffad8f;
  padding: 30px 0 20px;
}

.photo-introduction_contents {
  display: flex;
  flex-wrap: wrap;
}
.photo-introduction_contents_column {
  width: 33.33%;
  padding: 0 25px;
}

.photo-introduction_heading_text {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 64px;
  color: #000;
  text-transform: capitalize;
  letter-spacing: 0px;
  text-align: center;
  padding-bottom: 100px;
}

.type-heading-1 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  line-height: 29px;

  color: rgba(0, 0, 0, 0.5);
  padding: 50px 0 10px;
}

.photo_intro_main_contents p {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 24px;
}

#shopify-section-text-and-image .h3 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 55px;
  color: #000000;
}

#shopify-section-text-and-image .featured-row__subtext p {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 24px;
}

.title_review_wrapper .product-single__title {
  width: 80%;
}
.icart-pg {
  margin-top: 20px !important;
}

.quantity_atc_wrapper {
  display: flex;
  flex-wrap: nowrap !important;
  margin-top: 20px;
}

.js-qty__num {
  height: 60px;
}

.btn.add-to-cart {
  height: 60px;
  background-color: #cc3d3a;
  color: #f6f5f2;
  font-family: Poppins, sans-serif !important;
  letter-spacing: inherit !important;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.13rem !important;
  padding: 0;
}

#CollectionSection .rte {
  font-size: 18px;
}

.btn.add-to-cart:hover {
  background-color: #f6f5f2;
  color: #cc3d3a;
  border: 1px solid #cc3d3a;
}

.thpb_combo_inner_start .thpb_combo_atc_cta_btn {
  display: flex !important;
  align-items: center !important;
  padding: 0 !important;
  height: 60px !important;
}

.thpb_combo_inner_start
  .thpb_combo_cta_btn_section
  .thpb_combo_atc_cta_btn:hover {
  background-color: #f6f5f2 !important;
  color: #cc3d3a !important;
  border: 1px solid #cc3d3a !important;
}

.thpb_combo_inner_start .thpb_combo_qty_btn_cls {
  height: 60px;
  border: 1px solid #d6d6d6;
  display: none !important;
}

.thpb_combo_inner_start .thpb_combo_qty_btn_cls .thpb_combo_add_qty_btn {
  width: 45px;
}

.thpb_combo_inner_start .thpb_combo_qty_btn_cls .thpb_combo_add_qty_btn:hover {
  background-color: #cc3d3a;
}

.thpb_combo_inner_start
  .thpb_combo_qty_btn_cls
  .thpb_combo_add_qty_btn:hover
  svg {
  fill: #fff;
}

@media only screen and (max-width: 768px) {
  .collection_title {
    margin-bottom: 20px;
  }
  .icart-pg {
    margin-top: 10px !important;
  }
  .photo-info_wrapper {
    overflow-y: scroll;
    margin: 20px auto;
  }
  #shopify-section-text-and-image .h3 {
    font-size: 36px;
    line-height: 36px;
  }
  #shopify-section-text-and-image .featured-row__subtext p {
    font-size: 21px;
    line-height: 21px;
  }
  .photo-introduction_heading_text {
    font-size: 36px;
    padding-bottom: 10px;
  }
  .type-heading-1 {
    font-size: 21px;
    line-height: 21px;
  }
  .photo_intro_main_contents p {
    font-size: 20px;
    line-height: 20px;
  }
  .announcement-text {
    font-size: 12px;
    letter-spacing: 2px;
  }
  .teeinblue-enabled .product__price {
    margin-bottom: 0;
  }
  #CollectionAjaxResult #CollectionAjaxContent .medium-up--one-fifth {
    width: unset;
    max-width: unset;
  }
  #CollectionAjaxResult #CollectionAjaxContent .medium-up--four-fifths {
    width: unset;
  }
}
.background-media-text--1602455559135 .background-media-text__image {
  background-size: cover;
}
.parallax-container {
  transform: unset !important;
}
.parallax-container {
  top: unset;
  height: 100%;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .photo-infos {
    width: 275%;
  }
  .photo-info_main_content {
    margin-left: 0;
  }
  .photo_img_wrapper {
    width: 42%;
  }
  .photo-info_wrapper h2 {
    font-size: 32px;
    line-height: 32px;
  }
  .background-media-text--1602455559135 .background-media-text__image {
    height: 350px;
    background-position-y: top;
    background-size: contain;
    background-image: url(https://cdn.shopify.com/s/files/1/0267/8603/7955/files/banner_800_x_700_px.png?v=1676373696) !important;
  }
  .parallax-container {
    top: unset;
    height: 100%;
    width: 100%;
  }
  .background-media-text__container,
  .background-media-text__video {
    height: 350px;
  }
}
.text-center .site-navigation {
  height: unset;
}
.text-center .site-navigation .site-nav__item a {
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.5px;
  font-family: "Poppins";
  color: #000;
}
.text-center .site-navigation .site-nav__item > a {
  line-height: 40px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}
.site-nav__dropdown {
  background-color: #ffa88a;
}
.site-nav__dropdown a {
  background-color: #ffa88a;
}
.site-nav__dropdown a:hover {
  text-decoration: underline;
}
.site-nav--is-megamenu .site-nav__dropdown {
  background-color: #fff;
}
.site-nav--is-megamenu .site-nav__dropdown a {
  background-color: #fff;
}
.site-nav__icons .site-nav__link--icon:nth-child(2) svg {
  margin-bottom: -8px !important;
}
.title_review_wrapper {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  padding-bottom:10px;
  padding-top: 7px;
}
.tee-price--regular-wrapper {
  order: 1;
}
.tee-price--current {
  order: 2;
  padding-left: 5px;
}
.product-single__title {
  padding: 0;
  margin: 0;
}
.js-qty__wrapper {
  max-width: 150px;
  min-width: 150px;
}

.js-qty__adjust {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  border: 1px solid #d6d6d6;
}

.js-qty__adjust:hover {
  background-color: #cc3d3a;
}

.js-qty__adjust:hover .icon {
  fill: #fff;
}

.js-qty__num {
  border: 1px solid #d6d6d6;
}
.js-qty__adjust .icon {
  width: 18px;
  height: 18px;
}

.quantity_atc_wrapper .product__quantity {
  margin-bottom: 0;
}

.teeinblue-enabled .quantity_atc_wrapper {
  display: block;
}
.collapsible-trigger-btn--borders{
  padding: 15px;
  background-color: rgba(255, 173, 143, 0.5);
  border-radius: 7px;
  margin-bottom: 20px;
  padding-left: 50px;
  color: #000000;
  border: none;
}
.collapsibles-wrapper--border-bottom{
  border: none;
}
.product-single__form{
margin-bottom: 0;
}
.price_review_wrapper{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.icons_img_wrapper{
  margin-top:-40px;
}
.tee_additional_info .bx_in {
  background: #ffa88a;
  border-radius: 5px;
  display: flex;
  padding: 5px;
  justify-content: center;
  text-align: center;
  margin-top: 15px;
}
.tee_additional_info .bx_in p {
  margin: 0;
  font-size:15px;
  line-height: 16px;
}
#judgeme_product_reviews{
  background-color: #F7F1F3;
}
.jdgm-rev-widg.jdgm-rev-widg{
  max-width:   1440px;
  background-color: #fff;
}
.page-content--product{
  background-color: #F7F1F3;
  padding-top: 15px;
}

.page-content--product .medium-up--one-half:last-child{
  width:40%;
  padding-left:10px;
}
.product-single__meta{
  padding:0 10px;
}

.price_wrapper .product__price{
  font-weight: 500 ;
    color: #9b4a48 ;
    font-size: 1.3em ;
}
.price_wrapper .product__price.product__price--compare{
  color: inherit;
}

.product-single__meta{
  background-color: #fff;
}

.simliar_products_wrapper{
  margin-top: 10px;
  background-color:#fff;
}
.simliar_products_wrapper.mobile_only{
  margin-top:10px;
  margin-bottom: -60px;
}
.simliar_products{
  margin-left: -6px;
}
.simliar_products .grid__item{
  padding-left: 6px;
}
.similar_products_heading{
  font-family: Poppins,sans-serif;
    font-size: 20px;
    letter-spacing: inherit;
    padding: 5px 0 0 7px;
}
.simliar_products_wrapper .grid-product__meta{
  padding:10px 0 6px 6px;
}

.simliar_products .judge-product-list-block{
  display: none !important;
}
.more_similar_products, .more_similar_products_link{
  color: #cc3d3a;
  font-weight: 600;
  cursor: pointer;
}
.more_similar_products.mobile_only{
  text-align: center;
}
/* The Modal (background) */
#similar_products_modal {
  
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  padding-top: 10vh; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.similar_products_modal-content {
  box-sizing:border-box;
  box-shadow:0 0 2px 1px rgba(0,0,0,.2);
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 3px;
  width: 480px;
}

.similar_products_modal-content .grid-product__image{
  width: unset;
  margin: unset;
  opacity: 1 !important;
}
.similar_products_modal-content .image-wrap{
  padding-bottom: 64px !important;
}

.teeinblue-enabled .similar_products_modal-content .product__price{
  display:unset !important;
}

.page-content--product .grid__item .breadcrumb{
  margin: 5px;
  position: absolute;
  z-index: 29;  
}
.similar_product_title p{
  font-size:12px;
}
.similar_product_title .type_title{
  font-size:14px;
  line-height:24px;
  font-weight: 600;
  margin-bottom:5px;
}

.similar_products_modal-content li{
  list-style: none;
  padding:8px;
  padding-bottom: 0;
  border-style: solid;
    border-radius: 8px;
    border-width: 2px;
    border-color: #f2f2f6;
}
.similar_products_modal-content a{
  display: flex;
  align-items: center;
}
.similar_products_modal-content .similar_product_content{
  display: flex;
  width: 80%;
}
.similar_product_img_wrapper{
  width: 20%;
}

.similar_product_content .similar_product_title{
  width:80%;
  margin-right: 15px;
}
.similar_product_content .product__price{
  font-weight: 500 ;
  color: #9b4a48 ;
}
.similar_product_content .product__price.product__price--compare{
  color: #585858;
}

.similar_product_content .similar_product_price{
  width:20%;
}
.simliar_load_more{
  text-align: center;
}
.similar_products_modal-heading p{
  color: #000;
    font-weight: 700;
    font-size: 21px;
    letter-spacing: 0px;
}
.similar_products_modal-subheading{
  color:#000;
  font-weight: 600;
}

.simliar_load_more button{
  padding:10px;
}
.simliar_load_more button:active{
  transform: translateY(1px);
  box-shadow:0 0 0px 3px #ffa88a;
  border-radius: 20px;
}
.more_styles{
  display: none;
}

/* The Close Button */
.ebcf_close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.ebcf_close:hover,
.ebcf_close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 480px) {
.similar_products_modal-content{
  width: calc(100% - 40px);
}
.similar_product_content .similar_product_title{
  margin-left: 10px;
  margin-right:5px;
}
}
@media only screen and (max-width: 768px) {
  .breadcrumb{
    display:none;
  }
  .page-content--product{
    padding-top:10px;
  }
  .page-content--product .page-width{
    padding: 0 10px;
  }
  .page-content--product .medium-up--one-half:last-child{
    padding-left:17px;
  }
  .product-single__meta{
    margin-top:10px;
  }
  .collapsible-trigger-btn--borders{
    margin-bottom: 10px;
  }
  .page-content--product .medium-up--one-half{
    width: 100% !important;
  }
  .js-qty__wrapper {
    max-width: 110px;
    min-width: 110px;
  }
  .js-qty__adjust {
    width: 33px;
  }
  .icon__fallback-text {
    font-size: 9px;
  }
  .site-nav__icons .site-nav__link--icon:nth-child(2) .icon__fallback-text {
    margin-top: 8px;
  }
  .site-nav__icons .site-nav__link--icon:nth-child(2) svg {
    margin-bottom: -15px !important;
  }
  .icon__fallback-text {
    font-size: 0.6rem;
  }
  .mobile-nav__toggle button {
    border: none;
    color: #000;
  }
  .drawer__header {
    border: none;
  }
  .drawer__scrollable {
    padding-top: 0;
  }
  .mobile-nav__faux-link,
  .mobile-nav__link,
  .mobile-nav__toggle .faux-button,
  .mobile-nav__toggle button {
    padding: 7px 15px;
  }
  .mobile-nav__sublist.collapsible-content.is-open {
    padding-left: 20px;
  }
  .mobile-nav__link--top-level {
    font-size: 15px;
    text-transform: uppercase;
    line-height: 30px;
  }
  .mobile-nav__item--secondary {
    font-size: 17px;
  }
  .mobile-nav__item--secondary .mobile-nav__link .icon-user {
    width: 30px;
    height: 30px;
  }
  .mobile-nav__faux-link,
  .mobile-nav__link,
  .mobile-nav__toggle .faux-button,
  .mobile-nav__toggle button {
    color: #000000 !important;
    font-family: "Poppins";
  }
}
@media only screen and (min-width: 769px) {
  .site-nav__dropdown.megamenu.text-left .grid.grid--center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .site-nav__dropdown.megamenu.text-left
    .grid.grid--center
    .grid__item:first-child {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
  }
  .site-nav__dropdown.megamenu.text-left
    .grid.grid--center
    .grid__item:first-child
    .h5 {
    width: 50%;
  }
}
.site-footer .jdgm-revs-tab-btn {
  position: absolute;
}
.site-footer .jdgm-revs-tab {
  position: unset;
}
.site-footer {
  position: relative;
}
.grid-product__content .grid-product__image-mask .image-wrap {
  padding-bottom: 100% !important;
}

@media only screen and (min-width: 769px) and (max-width: 1400px) {
  .text-center .site-navigation .site-nav__item a {
    font-size: 15px;
  }
  .text-center .site-navigation .site-nav__item > a {
    font-size: 11px;
    padding: 7.5px 10px;
  }
}

.membership-top[data-v-12407f70] {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.memmbership-icon[data-v-12407f70] {
    width: 70px;
}

.membership-product-details[data-v-12407f70] {
    padding-left: 15px;
}

.membership-middle {
    width: 100%;
    font-size: 12px;
    float: right;
}

.membership-bottom {
    width: 100%;
    float: left;
    padding: 0 7px;
}

.membership-bottom a.add_membership {
    display: block;
    margin-top: 0;
    background-color: #f2d84b;
    border: 1px solid #f2d84b;
    color: #000;
    padding: 14px 0;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    min-width: 180px;
    letter-spacing: 2px;
    font-size: 16px;
}

.membership_html_block {
    background: #FFF3E4;
}

.membership-offer[data-v-12407f70] {
    font-size: 15px;
    max-width: 450px;
}

.membership_contents[data-v-12407f70] {
    padding: 15px;
    background-color: #FFF3E4;
}
.membership-detail-points[data-v-12407f70] {
    display: block;
    width: 60%;

}
.membership-detail-points[data-v-12407f70] {
    font-size: 16px;
    padding: 10px 0;
}

.membership-detail-points[data-v-12407f70], 
.membership-footer-action-block {
    width: 100%;
    padding: 10px;
    margin-left: 0;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin-bottom: 0;
}

.membership-detail-points[data-v-12407f70] li, 
.membership-footer-action-block li {
  font-size: 14px;
  flex-grow: 1;
  flex-basis: 50%;
}

.membership-footer-action-block li.big-f {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: #000000;
}