#rebuy-widget-89169 .rebuy-widget-content .super-title{
  color: #6FB341 !important;
    font-size: 55px;
    letter-spacing: 0;
    margin: 0 !important;
    font-family: poppins;
}
#rebuy-widget-89169 .rebuy-widget-content .primary-title {
  font-size: 30px;
    font-family: poppins;
}
#rebuy-widget-89169 .rebuy-widget-content .description{
  background: #FDE667;
    font-weight: bold;
    margin: 0 !important;
    font-size: 22px;
    padding: 2px 10px !important;
    color: black !important;
    font-family: poppins;
}
.is-visible .rebuy-cart__flyout{
  border-radius:0;
  margin:0;
  font-family: poppins;
}
.rebuy-cart__flyout .rebuy-cart__flyout-title{
  font-size:16px;
  text-align: left;
}
.rebuy-cart__progress-bar-prompt{
  font-weight: 700;
  order:1;
}
.rebuy-cart__progress-bar-wrapper{
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
}
.rebuy-cart__progress-bar-meter{
  order:2;
}

#rebuy-widget-91226 .rebuy-widget-content .primary-title{
  font-size: 27px !important;
    font-weight: 400;
    color: #6FB341;
    text-align: center;
}

.rebuy-widget .rebuy-button{
  background: #57B625 !important;
    border-color: #57B625 !important;
}
.rebuy-cart__flyout button{
  background: #57B625 !important;
    border-color: #57B625 !important;
}