.teeinblue-enabled .tee-field__heading,
.teeinblue-enabled .tee-radio > label,
.teeinblue-enabled .tee-option__title,
.teeinblue-enabled .tee-field__input input {
  font-family: Poppins, sans-serif !important;
  font-size: 14px !important;
  letter-spacing: inherit !important;
}

.teeinblue-enabled .tee-btn--atc,
.teeinblue-enabled .tee-btn--preview,
.teeinblue-enabled .tee-text-muted {
  font-family: Poppins, sans-serif !important;
  letter-spacing: inherit !important;
}

.tee-btn--atc {
  text-transform: uppercase;
  font-size: 1.13rem !important;
  background-color: #71bf54 !important;
  color: #f6f5f2 !important;
}

.tee-btn--atc:hover {
  background-color: #f6f5f2 !important;
  color: #71bf54 !important;
  border: 1px solid #71bf54 !important;
}

.tee-btn--atc {
  height: 60px !important;
}

.tee-quantity-handle {
  height: 60px !important;
}

.tee-quantity-group .tee-quantity-input {
  height: 60px !important;
}

.tee-quantity-handle svg {
  pointer-events: unset !important;
}

.tee-quantity-handle:hover {
  background-color: #71bf54;
  color: white;
}

.tee-quantity-input {
  font-size: 1.13rem !important;
}

.teeinblue-enabled #stamped-reviews-widget,
.teeinblue-enabled .product-single__title,
.teeinblue-enabled .tee-field__heading,
.teeinblue-enabled #teeFormInputs,
.teeinblue-enabled .tee-block {
  text-align: left;
}

#shopify-section-collection-header .page-width.page-content.page-content--top {
  padding-top: 35px !important;
  margin-bottom: -25px;
}

#shopify-section-collection-header
  .page-width.page-content.page-content--top
  .section-header__title {
  font-size: 25px !important;
}

.tee-swatch--circle,
.tee-swatch--circle .tee-swatch--color {
  border-radius: 0% !important;
}

.tee-swatch--color {
  width: 40px !important;
  height: 40px !important;
}

/* hiding duplicated contents on tib pages */
.teeinblue-enabled .variant-input-wrap,
.teeinblue-enabled .variant__label,
.teeinblue-enabled .btn.btn--full.add-to-cart {
  /* display: none !important; */
}
/* .tee-checkbox-wrapper {
  display: none !important;
  visibility: hidden !important;
} */
/* .tee-error {
  display: none !important;
  visibility: hidden !important;
} */

.tee-form-atc-wrapper {
  flex-wrap: unset !important;
}

.teeinblue-enabled .tee-btn--atc#teeAtcButton {
  display: none;
}

@media only screen and (max-width: 768px) {
  .tee-swatch--color {
    width: 38px !important;
    height: 38px !important;
  }
}
