<div class="page-content">
    <div class="img_wrapper" style="text-align:center;">
    <img data-src="https://ucarecdn.com/b9c882fe-9b7a-4569-a034-da9831c5e056/-/format/auto/-/preview/2560x2560/-/quality/lighter/adorb-ambassador.png" class="lazyload page-width" style="width:100%;padding:0;">
    </div>
    <div class="bc_am">
        <div class="bc_am_content">
            <h2>BECOME AN <br>ADORB®<br> <b>AMBASSADOR</b></h2>
        </div>
    </div>
    <div class="page-width rte rte--nomargin">
        {{ page.content }}
    </div>
    <div class="link_wrapper_1">
        <a href="https://ambassadors.adorb.co/create-account/modern" target="_blank">BECOME AN AMBASSADOR</a>
    </div>
    <div class="link_wrapper_2">
        <a href="https://ambassadors.adorb.co/login" target="_blank">ALREADY AN AMBASSADOR? LOG IN</a>
    </div>
    <div class="img_wrapper" style="text-align: center;">
    <img data-src="https://ucarecdn.com/d895a04e-3188-45b6-99c1-b50953e4e8d4/-/format/auto/-/preview/3000x3000/-/quality/lighter/" class="lazyload page-width" style="width:100%;padding:0;">
    </div>
    <div class="accordian_questions">
        <h1>FREQUENTLY ASKED QUESTIONS</h1>

        <div class="accordion">
          <div class="accordion-item">
            <div class="accordion-item-header">
                How much is my personal discount?
            </div><!-- /.accordion-item-header -->
            <div class="accordion-item-body">
              <div class="accordion-item-body-content">
                As an ambassador, you get 45% OFF anything from our store with your personal discount code!
              </div>
            </div><!-- /.accordion-item-body -->
          </div><!-- /.accordion-item -->
        </div>

        <div class="accordion">
            <div class="accordion-item">
              <div class="accordion-item-header">
                When do I receive free merch?
              </div><!-- /.accordion-item-header -->
              <div class="accordion-item-body">
                <div class="accordion-item-body-content">
                    We send select ambassadors free items before our seasonal products launch! 
                </div>
              </div><!-- /.accordion-item-body -->
            </div><!-- /.accordion-item -->
        </div>

        <div class="accordion">
            <div class="accordion-item">
              <div class="accordion-item-header">
                How can i earn more commission?
              </div><!-- /.accordion-item-header -->
              <div class="accordion-item-body">
                <div class="accordion-item-body-content">
                    Don't worry! We're currently planning out a tier-2 level seller so you can earn up to 25% commissions!
                </div>
              </div><!-- /.accordion-item-body -->
            </div><!-- /.accordion-item -->
        </div>
    </div>
    <div class="bc_am">
        <div class="bc_am_content">
            <img data-src="//cdn.shopify.com/s/files/1/0267/8603/7955/files/IMG_2199_210x.PNG?v=1615924214" class="lazyload">
            <h6>Got more QUESTIONS?</h6>
            <p>Ask us everything you want to know about our program and we'll send you answers!</p>
            <h6>GET IN TOUCH</h6>
            <p>Email: Partner@adorb.co</p>
            <div class="icons_wrapper">
                <a href="https://www.instagram.com/adorb.co/" target="_blank">
                    <img data-src="https://ucarecdn.com/4dda0223-7f39-497a-9da7-bc3b3d8da9f1/-/format/auto/-/preview/3000x3000/-/quality/lighter/" class="lazyload">
                </a>
                <a href="https://www.facebook.com/adorb.co" target="_blank">
                    <img data-src="https://ucarecdn.com/6034569e-139b-4529-93ac-6a75e46a19ce/-/format/auto/-/preview/3000x3000/-/quality/lighter/" class="lazyload">
                </a>
            </div>
        </div>
    </div>
</div>

<style>
    h1 {
        text-align: center;
        margin: 2rem 0;
        font-size: 36px;
        line-height: 1.25em;
        letter-spacing: 0px;
        color: #272727;
        text-transform: uppercase;
        font-weight: 700;
      }
      
      .accordion {
        width: 90%;
        max-width: 1000px;
        margin: 2rem auto;
      }
      
      .accordion-item {
        background-color: #fff;
        color: #111;
        margin: 1rem 0;
        border-radius: 0.5rem;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
      }
      
      .accordion-item-header {
        padding: 0.5rem 3rem 0.5rem 1rem;
        min-height: 3.5rem;
        line-height: 1.25rem;
        font-weight: bold;
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;
      }
      
      .accordion-item-header::after {
        content: "\002B";
        font-size: 2rem;
        position: absolute;
        right: 1rem;
      }
      
      .accordion-item-header.active::after {
        content: "\2212";
      }
      
      .accordion-item-body {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
      }
      
      .accordion-item-body-content {
        padding: 1rem;
        line-height: 1.5rem;
        border-top: 1px solid;
        border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
      }
</style>

<script>
    const accordionItemHeaders = document.querySelectorAll(".accordion-item-header");

    accordionItemHeaders.forEach(accordionItemHeader => {
       accordionItemHeader.addEventListener("click", event => {
        
         // Uncomment in case you only want to allow for the display of only one collapsed item at a time!
        
    //     const currentlyActiveAccordionItemHeader = document.querySelector(".accordion-item-header.active");
    //     if(currentlyActiveAccordionItemHeader && currentlyActiveAccordionItemHeader!==accordionItemHeader) {
    //        currentlyActiveAccordionItemHeader.classList.toggle("active");
    //        currentlyActiveAccordionItemHeader.nextElementSibling.style.maxHeight = 0;
    //      }
    
         accordionItemHeader.classList.toggle("active");
         const accordionItemBody = accordionItemHeader.nextElementSibling;
         if(accordionItemHeader.classList.contains("active")) {
          accordionItemBody.style.maxHeight = accordionItemBody.scrollHeight + "px";
         }
         else {
           accordionItemBody.style.maxHeight = 0;
         }
        
       });
    });
</script>